form#hit_button {
  float: left;
  margin-right: 10px;
}

form#stay_button {
  float: right;
}

form#dealer_hit_button {
  float: left;
  margin-right: 10px;
}

img.card_image {
  margin: 0px 5px 5px 0px;
}

span#score {
  float:left;
  clear:both;
  font-size: 24px;
  margin-bottom: 20px;
}

.buttons {
  float:right;
  margin: -5px 0px -20px 20px;
}